<?xml version='1.0' encoding='utf-8'?>
<widget id="app.tochka.yapoisk.com" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>ТОЧКА</name>
    <description>
        Доска бесплатных объявлений
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
    </author>
    <preference name="phonegap-version" value="cli-7.1.0" />
    <preference name="pgb-builder-version" value="2" />
    <content src="index.html" />
    <access origin="*" />
    <platform name="ios">
        <icon height="1024" src="res/icon/ios/icon-1024.png" width="1024" />
        <icon height="29" src="res/icon/ios/icon-small.png" width="29" />
        <icon height="58" src="res/icon/ios/icon-small@2x.png" width="58" />
        <icon height="87" src="res/icon/ios/icon-small@3x.png" width="87" />
        <icon height="40" src="res/icon/ios/icon-small-40.png" width="40" />
        <icon height="80" src="res/icon/ios/icon-small-40@2x.png" width="80" />
        <icon height="120" src="res/icon/ios/icon-small-40@3x.png" width="120" />
        <icon height="50" src="res/icon/ios/icon-small-50.png" width="50" />
        <icon height="100" src="res/icon/ios/icon-small-50@2x.png" width="100" />
        <icon height="57" src="res/icon/ios/icon.png" width="57" />
        <icon height="114" src="res/icon/ios/icon@2x.png" width="114" />
        <icon height="60" src="res/icon/ios/icon-60.png" width="60" />
        <icon height="120" src="res/icon/ios/icon-60@2x.png" width="120" />
        <icon height="180" src="res/icon/ios/icon-60@3x.png" width="180" />
        <icon height="72" src="res/icon/ios/icon-72.png" width="72" />
        <icon height="144" src="res/icon/ios/icon-72@2x.png" width="144" />
        <icon height="76" src="res/icon/ios/icon-76.png" width="76" />
        <icon height="152" src="res/icon/ios/icon-76@2x.png" width="152" />
        <icon height="167" src="res/icon/ios/icon-167.png" width="167" />
        <icon height="167" src="res/icon/ios/icon-83.5@2x.png" width="167" />
        <splash src="res/screen/ios/Default@2x~iphone~anyany.png" />
        <splash src="res/screen/ios/Default@2x~iphone~comany.png" />
        <splash src="res/screen/ios/Default@3x~iphone~anyany.png" />
        <splash src="res/screen/ios/Default@3x~iphone~comany.png" />
        <splash src="res/screen/ios/Default@2x~ipad~anyany.png" />
        <splash src="res/screen/ios/Default@2x~ipad~comany.png" />
    </platform>
    <platform name="android">
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="SplashShowOnlyFirstTime" value="true" />
        <icon density="ldpi" src="res/icon/android/ldpi.png" />
        <icon density="mdpi" src="res/icon/android/mdpi.png" />
        <icon density="hdpi" src="res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png" />
        <splash density="port-ldpi" src="res/screen/android/splash-port-ldpi.png" />
        <splash density="port-mdpi" src="res/screen/android/splash-port-mdpi.png" />
        <splash density="port-hdpi" src="res/screen/android/splash-port-hdpi.png" />
        <splash density="port-xhdpi" src="res/screen/android/splash-port-xhdpi.png" />
        <splash density="port-xxhdpi" src="res/screen/android/splash-port-xxhdpi.png" />
        <splash density="port-xxxhdpi" src="res/screen/android/splash-port-xxxhdpi.png" />
        <resource-file src="google-services.json" target="app/google-services.json" />
    </platform>
    <engine name="android" spec="~7.1.4" />
    <plugin name="cordova-plugin-inappbrowser" spec="~3.1.0" />
    <plugin name="cordova-android-firebase-gradle-release" spec="4.0.0">
        <variable name="FIREBASE-CORE" value="17.0.0" />
        <variable name="FIREBASE-ADS" value="18.0.0" />
        <variable name="FIREBASE-ANALYTICS" value="17.0.0" />
        <variable name="FIREBASE-APPINDEXING" value="19.0.0" />
        <variable name="FIREBASE-AUTH" value="18.0.0" />
        <variable name="FIREBASE-FIRESTORE" value="20.0.0" />
        <variable name="FIREBASE-FUNCTIONS" value="18.0.0" />
        <variable name="FIREBASE-MESSAGING" value="19.0.0" />
        <variable name="FIREBASE-STORAGE" value="18.0.0" />
        <variable name="FIREBASE-CRASH" value="16.2.1" />
        <variable name="CRASHLYTICS" value="2.10.1" />
        <variable name="FIREBASE-DYNAMIC-LINKS" value="18.0.0" />
        <variable name="FIREBASE-INVITES" value="17.0.0" />
        <variable name="FIREBASE-INAPPMESSAGING" value="18.0.1" />
        <variable name="FIREBASE-INAPPMESSAGING-DISPLAY" value="18.0.1" />
        <variable name="FIREBASE-ML-VISION" value="21.0.0" />
        <variable name="FIREBASE-ML-VISION-IMAGE-LABEL-MODEL" value="18.0.0" />
        <variable name="FIREBASE-ML-VISION-FACE-MODEL" value="18.0.0" />
        <variable name="FIREBASE-ML-VISION-OBJECT-DETECTION-MODEL" value="17.0.0" />
        <variable name="FIREBASE-ML-NATURAL-LANGUAGE" value="20.0.0" />
        <variable name="FIREBASE-ML-NATURAL-LANGUAGE-LANGUAGE-ID-MODEL" value="20.0.0" />
        <variable name="FIREBASE-ML-NATURAL-LANGUAGE-TRANSLATE-MODEL" value="20.0.0" />
        <variable name="FIREBASE-ML-NATURAL-LANGUAGE-SMART-REPLY-MODEL" value="20.0.0" />
        <variable name="FIREBASE-ML-MODEL-INTERPRETER" value="20.0.0" />
        <variable name="FIREBASE-ML-VISION-AUTOML" value="17.0.0" />
        <variable name="FIREBASE-PERF" value="18.0.0" />
        <variable name="FIREBASE-DATABASE" value="18.0.0" />
        <variable name="FIREBASE-CONFIG" value="18.0.0" />
    </plugin>
    <plugin name="cordova-android-play-services-gradle-release" spec="4.0.0">
        <variable name="PLAY-SERVICES-ADS" value="18.0.0" />
        <variable name="PLAY-SERVICES-ADS-IDENTIFIER" value="17.0.0" />
        <variable name="PLAY-SERVICES-ADS-LITE" value="18.0.0" />
        <variable name="PLAY-SERVICES-AFS-NATIVE" value="17.0.0" />
        <variable name="PLAY-SERVICES-ANALYTICS" value="17.0.0" />
        <variable name="PLAY-SERVICES-ANALYTICS-IMPL" value="17.0.0" />
        <variable name="PLAY-SERVICES-APPINVITE" value="18.0.0" />
        <variable name="PLAY-SERVICES-AUDIENCE" value="17.0.0" />
        <variable name="PLAY-SERVICES-AUTH" value="17.0.0" />
        <variable name="PLAY-SERVICES-AUTH-API-PHONE" value="17.0.0" />
        <variable name="PLAY-SERVICES-AWARENESS" value="17.0.0" />
        <variable name="PLAY-SERVICES-BASE" value="17.0.0" />
        <variable name="PLAY-SERVICES-BASEMENT" value="17.0.0" />
        <variable name="PLAY-SERVICES-CAST" value="17.0.0" />
        <variable name="PLAY-SERVICES-CAST-FRAMEWORK" value="17.0.0" />
        <variable name="PLAY-SERVICES-CLEARCUT" value="17.0.0" />
        <variable name="PLAY-SERVICES-CRONET" value="17.0.0" />
        <variable name="PLAY-SERVICES-DRIVE" value="17.0.0" />
        <variable name="PLAY-SERVICES-FIDO" value="18.0.0" />
        <variable name="PLAY-SERVICES-FITNESS" value="17.0.0" />
        <variable name="PLAY-SERVICES-FLAGS" value="17.0.0" />
        <variable name="PLAY-SERVICES-GAMES" value="18.0.0" />
        <variable name="PLAY-SERVICES-GASS" value="18.0.0" />
        <variable name="PLAY-SERVICES-GCM" value="17.0.0" />
        <variable name="PLAY-SERVICES-IDENTITY" value="17.0.0" />
        <variable name="PLAY-SERVICES-IID" value="17.0.0" />
        <variable name="PLAY-SERVICES-INSTANTAPPS" value="17.0.0" />
        <variable name="PLAY-SERVICES-LOCATION" value="17.0.0" />
        <variable name="PLAY-SERVICES-MAPS" value="17.0.0" />
        <variable name="PLAY-SERVICES-MEASUREMENT" value="17.0.0" />
        <variable name="PLAY-SERVICES-MEASUREMENT-API" value="17.0.0" />
        <variable name="PLAY-SERVICES-MEASUREMENT-IMPL" value="17.0.0" />
        <variable name="PLAY-SERVICES-MEASUREMENT-SDK" value="17.0.0" />
        <variable name="PLAY-SERVICES-MEASUREMENT-SDK-API" value="17.0.0" />
        <variable name="PLAY-SERVICES-NEARBY" value="17.0.0" />
        <variable name="PLAY-SERVICES-OSS-LICENSES" value="17.0.0" />
        <variable name="PLAY-SERVICES-PANORAMA" value="17.0.0" />
        <variable name="PLAY-SERVICES-PHENOTYPE" value="17.0.0" />
        <variable name="PLAY-SERVICES-PLACES" value="17.0.0" />
        <variable name="PLAY-SERVICES-PLACES-PLACEREPORT" value="17.0.0" />
        <variable name="PLAY-SERVICES-PLUS" value="17.0.0" />
        <variable name="PLAY-SERVICES-SAFETYNET" value="17.0.0" />
        <variable name="PLAY-SERVICES-STATS" value="17.0.0" />
        <variable name="PLAY-SERVICES-TAGMANAGER" value="17.0.0" />
        <variable name="PLAY-SERVICES-TAGMANAGER-API" value="17.0.0" />
        <variable name="PLAY-SERVICES-TAGMANAGER-V4-IMPL" value="17.0.0" />
        <variable name="PLAY-SERVICES-TASKS" value="17.0.0" />
        <variable name="PLAY-SERVICES-VISION" value="18.0.0" />
        <variable name="PLAY-SERVICES-VISION-COMMON" value="18.0.0" />
        <variable name="PLAY-SERVICES-VISION-IMAGE-LABEL" value="18.0.0" />
        <variable name="PLAY-SERVICES-WALLET" value="17.0.0" />
        <variable name="PLAY-SERVICES-WEARABLE" value="17.0.0" />
    </plugin>
</widget>
